p#tytul1
{
text-align:right;
font-size:1cm;
color:red;
}
p#gruby
{
    text-align:right;
    font-size:0.5cm;
    color:blue;

}
div#border {
    width: 100%;
    border: 3px black;
    border-top-style: double;
    
}
p#xd {
    text-align: center;
    font-style: Italic;
    font-weight: 200;
    font-size: large;
    font-family: Serif;
    color: bisque;
    text-indent: 10mm;
    line-height: 2 cm;
    word-spacing: 12px;
    letter-spacing: 5ex;
}
p#lol {
    text-align: center;
    text-decoration: overline;
    font-weight: 900;
    font-size: x-small;
    font-family: Serif;
    color: sandybrown;
    text-indent: 10mm;
    line-height: 2cm;
    word-spacing: 12px;
    letter-spacing: 5ex;
}
p#koks {

    text-align: center;
    font-variant: small-caps;
    text-transform: lowercase;
    font-weight: 700;
    font-size: medium;
    font-family: Serif;
    color: chocolate;
    text-indent: 10mm;
    line-height: 2cm;
    word-spacing: 12px;
    letter-spacing: 5ex;
}
p#tytul2 {
    text-align: right;
    font-size: 50px;
    color: #87CEEB;
}
p#elo {
    text-align: right;
    font-style: Oblique;
    font-weight: 300;
    font-size: 10px;
    font-family: Sans-Serif;
    color: crimson;
    text-indent: 1cm;
    line-height: 1cm;
    word-spacing: 12px;
    letter-spacing: 2ex;
}
p#zdaniedrud {
    text-align: right;
    text-transform: lowercase;
    text-decoration: line-through;
    font-weight: 600;
    font-size: 1em;
    font-family: Sans-Serif;
    color: firebrick;
    text-indent: 1cm;
    line-height: 1cm;
    word-spacing: 12px;
    letter-spacing: 2ex;
}
p#trzecie {
    text-align: right;
    text-transform: capitalize;
    font-weight: 800;
    font-size: 0.1in;
    font-family: Sans-Serif;
    color: darkred;
    text-indent: 1cm;
    line-height: 1cm;
    word-spacing: 12px;
    letter-spacing: 2ex;
}

